<!DOCTYPE html>
<html>
<head>
  <title>SwissChef</title>
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,500,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,400italic,300italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				        <span class="sr-only">Toggle navigation</span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
			        </button>
					<!-- <a class="navbar-brand" href="/">
						<%= image_tag("swiss-chef-logo.png", :class => "small-logo") %>
					</a> -->
					<a class="navbar-brand" href="/">The Swiss Chef</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav pull-right">
						<li><a href="/static_pages/about.html">About Us</a></li>
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#">Gallery<span class="caret"></span></a>
							<ul class="dropdown-menu">
					            <li><a href="#">Wedding Cakes</a></li>
					            <li><a href="#">Specialty Cakes</a></li>
					            <li><a href="#">Sweet Treats</a></li>
					         </ul>
						</li>
						<li><a href="/products/">Shop</a></li>
						<li><a href="/static_pages/contact.html">Contact</a></li>
					</ul>
				</div><!-- /.navbar-collapse -->
			</div>
			
		</nav>
</header>

<%= yield %>

	<footer>
		<div class="container-fluid footer">
			<div class="row">
				<div class="links col-sm-6 col-md-4">
					<h3>Resources</h3>
					<ul>
						<li><a href="https://www.bakedeco.com">Bakery Supplies &amp; Restaurant</a></li>
						<li><a href="http://www.pastrychef.com">Pastry Chef Central</a></li>
						<li><a href="http://www.nycake.com">NY Cake - Baking Supplies &amp; Education</a></li>
					</ul>
				</div><!-- End of first set of links -->
				<div class="clients col-sm-6 col-md-4">
					<h3>Our Clients</h3>
					<ul>
						<li><a href="http://www.walmart.com/">Walmart Supercenter</a></li>
						<li><a href="http://www.albertsons.com/">Albertson's</a></li>
						<li><a href="http://www.thekrogerco.com/">Kroger</a></li>
						<li><a href="http://www.supervalu.com/">SuperValu</a></li>
						<li><a href="http://www.traderjoes.com/">Trader Joe's</a></li>
					</ul>
				</div><!-- End of second set of links -->
				<div class="newsletter col-sm-6 col-md-4">
					<h3>Sign-up for News!</h3>
					<form class="form-horizontal">
					  <div class="form-group">
					    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
					    <div class="col-sm-10">
					      <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
					    </div>
					  </div><!-- Form group ends -->
					</div><!-- Form ends -->
				</div><!-- End of Newsletter -->
			</div><!-- End of row -->
		</div><!-- End of container -->
	    <div class="credit">
	    	<p>&copy;2015 Jose Ramos, The Aprentice</p>
	    </div>	

	</footer>
</body>
</html>
